@model List<NationalNeon.Domain.Job.JobModel>
<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
            <button onclick="window.history.back();" class="btn btn-danger"><i class="fa fa-chevron-left"></i> Back</button>
            <button id="refreshArchived" class="btn btn-danger export-data"><i class="fa fa-repeat"></i> Refresh</button>
            <button id="print" onclick="window.print()" class="btn btn-danger export-data pull-right"><i class="fa fa-print"></i> Print</button>
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog" id="divAddPopup">

                </div>
            </div>
        </div>
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">



            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false">

                <header><span class="widget-icon"> <i class="fa fa-briefcase"></i> </span><h2>Archived Jobs</h2></header>

                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <div class="table-responsive">
                            <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>Job Number</th>
                                        <th>Job Name</th>
                                        <th>Description</th>
                                        <th>Target Completion Date</th>
                                        <th>Status</th>
                                        <th>Revenue</th>
                                        <th>Scheduled Date</th>
                                        <th>Sales Person</th>
                                        <th>Documents</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.job_number</td>
                                            <td>@item.job_name</td>
                                            <td>@item.description</td>
                                            <td>@item.target_completion_date.ToString("D")</td>
                                            <td>@item.status</td>
                                            <td>@item.revenue</td>
                                            <td>
                                               
                                                @{
                                                    var scheduledate = "";
                                                    if (item.scheduled_date.ToString("MM/dd/yyyy") == "01/01/0001")
                                                    { scheduledate = "Date Not Set"; }
                                                    else
                                                    {
                                                        scheduledate = item.scheduled_date.ToString("D");
                                                    }
                                                    @scheduledate
                                                }
                                            </td>
                                            <td>@item.sales_person</td>
                                            @if (item.JobFileUpload != null)
                                            {
                                              
                                                <td>
                                                    @foreach (var fileUpload in item.JobFileUpload)
                                                    {
                                                        var filename = (fileUpload.FilePath.Split('\\')[2]).Split('_')[1];
                                                        <a href="@fileUpload.FilePath" target="_blank">@filename</a>
                                                        <br />

                                                    }
                                                </td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->
        </article>
        <!-- WIDGET END -->
    </div>
    <!-- end row -->
    <!-- end row -->

</section>
<!-- end widget grid -->
<script>
    $("#refreshArchived").click(function () {
        history.go(0);
    });
</script>
